/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 *  @author    Veebipoed.ee, Holmbank
 *  @copyright 2023 Veebipoed.ee, Holmbank
 *  @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

 .holmbank-payment-link {
    padding-left: 15px !important;
}

.holmbank-payment-link img {
    height: 40px;
}

div.holmbank_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

div.holmbank_container:has(div.holmbank_logo) {
    margin-top: 20px;
}

div.holmbank_content {
    margin-top: 10px;
    margin-left: 10px;
}

a.estimation_text {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

span.estimation_text {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

div.holmbank_calculator_description {
    font-size: 11px;
}

div.holmbank_logo img {
    width: 80px;
}

@media screen and (max-width: 767px) {
    div.holmbank_container {
        flex-direction: row;
    }
    div.holmbank_content {
        margin-top: 0;
        margin-left: 10px;
    }
}